body{
    background:black;
}
.post{
    width: 450px;
    height: 800px;
    background: white;
    margin: 0 auto;
}
.namepost{
    float:left;
}
.postheader{
    background:white;
}
h1{
font-size:15px;
}
.postheader{
    width:447px;
    height:147px;
}
.tittlepost{
    float:left;
    display:inline-block;
}

img{
    width:450px;
    height:450px;
}
.postfooter{
    width:450px;
    height:300px;
}
i {
    display:block;
    margin: 0 2px;
}
icons{
}
span{
    font-weight: bold;
}
.iconsright{
    display:inline-block;
    float:right;
}
.icon-left{
    float:left;
    display:inline-block;
}